*{
    margin: 0;
}
body {
    font-family: 'Overpass', sans-serif;
}

.header_info h1 {
    color: #8bd876;
    margin: 0;
    font-weight: 400;
    font-size: 75px;
}

.header{
    background: #1f1f1f url(../img/Background.jpg);
    background-size: cover;
    display: flex;
    padding: 131px 202px;
}

.header_info p {
    width: 80%;
    color: #fff;
    font-size: 14px;
    line-height: 19px;
}

.header_info {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
}
.header_button {
    display: flex;
}

.dark  {
    color: #1f1f1f;
    text-decoration:none;
}

.light   {
    color: #8bd975;
    text-decoration:none;
}
.image{
    padding: 50px;
}
